absl-py
altair
astunparse
attrs
bcrypt
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comtypes
contourpy
cvzone
cycler
Cython
easydict
facenet-pytorch
filelock
flatbuffers
fonttools
fsspec
gast
gitdb
GitPython
google-pasta
grpcio
gTTS
h5py
halo
idna
imageai
imutils
iniconfig
itils
jax
jaxlib
Jinja2
jsonschema
jsonschema-specifications
Kazier
keras
kiwisolver
libclang
log-symbols
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
mediapipe
ml-dtypes
mock
mpmath
namex
netron
networkx
numpy
opencv-contrib-python
opencv-python-headless
opt-einsum
optree
packaging
pandas
pillow
plac
pluggy
protobuf
psutil
py
py-cpuinfo
pyarrow
pycparser
pydeck
Pygments
pyparsing
pytest
python-dateutil
python-dotenv
pyttsx3
referencing
requests
rich
rpds-py
scipy
seaborn
setuptools
six
smmap
sounddevice
spinners
streamlit
streamlit-option-menu
Stsocialicon
sympy
tenacity
tensorboard
tensorboard-data-server
tensorboardX
tensorflow
tensorflow-intel
termcolor
text-to-speech
toml
tomli
toolz
torch
torchaudio
torchvision
tornado
tqdm
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
Wand
watchdog
Werkzeug
wheel
wrapt
