facenet-pytorch==2.6.0
gTTS==2.5.3
matplotlib==3.9.2
numpy==1.26.4
opencv-contrib-python
opencv-python-headless==4.10.0.84
pandas==2.2.2
pillow==10.2.0
python-dotenv==1.0.1
pyttsx3==2.91
requests==2.32.3
scipy==1.14.1
seaborn==0.13.2
streamlit==1.38.0
streamlit-option-menu==0.3.13
torch==2.2.2
torchvision==0.17.2
ultralytics==8.2.92

