<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup-style.css') }}">
    <style>

        h1{

            font-size: 100px;
       }

        span{
            color: red;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            margin: 2px;
        }
       .container{
        display: flex;
        align-items: center;
    
       }
       button{
        font-size: 20px;
        padding: 10px;
        margin: 20px;

       }
    </style>
</head>
<body>
    <div class="index-container">
        <h1><span>W</span>elcom<span>e</span></h1>
        <form method="post" class="container">
            
            <button type="submit" name="login">Login</button><br><br>
            <button type="submit" name="signup">SignUp</button>
        </form>
    </div>
</body>
</html>
